---
export const prerender = true;

import RootLayout from '../../layouts/RootLayout.astro';
import Tags from '../../components/Tags.astro';
import TOCModal from '../../components/ui/TOCModal.tsx';
import SocialsShare from '../../components/ui/SocialsShare.tsx';
import 'src/styles/article.css';
import ScrollProgress from '../../components/ScrollProgress.astro';
import TableOfContentsReact from '../../components/TableOfContentsReact';
import AuthorCard from '../../components/cards/AuthorCard.astro';
import DateCard from '../../components/cards/DateCard.astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import TableOfContentsSkeleton from 'src/components/skeletons/TableOfContentsSkeleton.astro';
import LiveDemo from 'src/components/LiveDemo.tsx';
import { Image } from 'astro:assets';
import { render } from 'astro:content';
import PostStats from 'src/components/PostStats';
import FetchPostStats from 'src/components/FetchPostStats';
import LikeButton from 'src/components/LikeButton';

export async function getStaticPaths() {
  const allBlogArticles: CollectionEntry<'blog'>[] = (
    await getCollection('blog')
  ).filter(entry => !entry.data.isDraft);

  return allBlogArticles.map(entry => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
if (!entry) {
  return Astro.redirect('/404');
}

const {
  id: postId,
  title,
  pubDate,
  author,
  tags,
  stackblitzProjectId,
  image,
  metaImage,
} = entry.data;

const { Content } = await render(entry);
const currentPath = import.meta.env.PUBLIC_WEBSITE_URL + Astro.url.pathname;
---

<style>
  .gradient-top::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 50vw;
    height: 50vh;
    transform: translate(-50%, -50%);
    border-radius: 100vh;
    background: radial-gradient(
      circle,
      rgb(var(--primary) / 100%) 0%,
      rgb(var(--secondary)) 100% /* transparent 100% */
    );
    filter: blur(15vmin);
    /* z-index: -1; */
  }
</style>

<RootLayout pageTitle={title} metaImage={metaImage}>
  <FetchPostStats client:only="react" postId={postId} />
  <ScrollProgress />
  <div class="container mx-auto p-4 z-0 relative gradient-top">
    <div class="flex gap-4 xl:gap-24">
      <div class="hidden xl:block">
        <div class="flex-col gap-2 sticky top-[150px] w-72 max-w-72 p-4">
          <TableOfContentsReact client:only="react">
            <TableOfContentsSkeleton slot="fallback" />
          </TableOfContentsReact>
          <hr
            class="my-4 h-0.5 border-t-0 bg-gradient-to-r from-accent to-transparent w-full"
          />

          <AuthorCard author={author} />
          <DateCard date={pubDate} />
          <div class="mb-4"></div>

          <div class="flex items-center justify-between">
            <SocialsShare url={currentPath} client:only="react" />

            <PostStats client:only="react" />
          </div>
        </div>

        <!-- This is a placeholder for sticky sidebar -->
        <div></div>
      </div>

      <section class="w-[768px] max-w-full pb-96 shrink max-xl:mx-auto">
        <h1 class="mb-16 max-w-screen-lg mx-auto">
          {title}
        </h1>

        <Image
          class="rounded-2xl mb-8"
          src={`/${image}`}
          alt="Hero image"
          width={768}
          height={384}
        />

        <div class="flex justify-between">
          <div>
            <AuthorCard author={author} />
            <DateCard date={pubDate} />
          </div>

          <PostStats client:only="react" />
        </div>
        <hr
          class="my-8 h-0.5 border-t-0 bg-gradient-to-r from-accent to-transparent w-full"
        />

        <Content />
        {
          !!stackblitzProjectId && (
            <LiveDemo client:visible projectId={stackblitzProjectId} />
          )
        }
        <hr
          class="my-8 h-0.5 border-t-0 bg-gradient-to-r from-accent to-transparent w-full"
        />

        <div
          class="flex flex-col gap-4 sm:flex-row sm:justify-between items-start"
        >
          <Tags tags={tags} />
          <SocialsShare url={currentPath} client:only="react" />
        </div>

        <div class="flex justify-center mt-8">
          <LikeButton client:only="react" slug={postId} />
        </div>
      </section>
    </div>
  </div>

  <TOCModal client:only="react">
    <TableOfContentsReact client:only="react" />
    <hr
      class="my-4 h-0.5 border-t-0 bg-gradient-to-r from-accent to-transparent w-full"
    />

    <AuthorCard author={author} />
    <DateCard date={pubDate} />
    <SocialsShare url={currentPath} client:only="react" />
  </TOCModal>
</RootLayout>

<script src="../../scripts/articleCopyCode.ts"></script>
<script src="../../scripts/articleCopyHeading.tsx"></script>
<script src="../../scripts/articleAddTooltip.tsx"></script>
