---
import { getEntry } from 'astro:content';
import RootLayout from '../../layouts/RootLayout.astro';
import Tags from '../../components/Tags.astro';
import Divider from '../../components/ui/Divider.astro';
import Drawer from '../../components/ui/Drawer.tsx';
import SocialsShare from '../../components/ui/SocialsShare.tsx';
import './article-styles.css';
import ScrollProgress from '../../components/ScrollProgress.astro';
import TableOfContentsReact from '../../components/TableOfContentsReact';
import AuthorCard from '../../components/cards/AuthorCard.astro';
import DateCard from '../../components/cards/DateCard.astro';

const { slug } = Astro.params;

if (!slug) {
  throw new Error('Missing slug');
}

const entry = await getEntry('blog', slug);
if (!entry) {
  return Astro.redirect('/404');
}

const { title, pubDate, author, authorImage, image, tags } = entry.data;

const { Content } = await entry.render();
const currentPath = Astro.url.origin + Astro.url.pathname;
---

<RootLayout pageTitle={title}>
  <ScrollProgress />
  <div class="container mx-auto p-4">
    <div class="flex gap-4 xl:gap-24">
      <div class="hidden xl:block">
        <div class="flex-col gap-2 sticky top-[200px] max-w-72 p-4">
          <TableOfContentsReact client:only="react" />
          <Divider />
          <AuthorCard author={author} authorImage={authorImage} />
          <DateCard date={pubDate} />
          <SocialsShare url={currentPath} client:only="react" />
        </div>

        <div></div>
      </div>

      <section class="w-[768px] max-w-full pb-96 shrink max-xl:mx-auto">
        <h1 class="mb-16 max-w-screen-lg mx-auto">
          {title}
        </h1>
        <Divider />
        <Content />
        <Divider />
        <Tags tags={tags} />
      </section>
    </div>
  </div>

  <Drawer client:only="react">
    <TableOfContentsReact client:only="react" />
    <Divider />
    <AuthorCard author={author} authorImage={authorImage} />
    <DateCard date={pubDate} />
    <SocialsShare url={currentPath} client:only="react" />
  </Drawer>
</RootLayout>

<script src="../../scripts/articleCopyCode.ts"></script>
