---
import { getEntry } from 'astro:content';
import RootLayout from '../../layouts/RootLayout.astro';
import AuthorCard from '../../components/cards/AuthorCard.astro';
import DateCard from '../../components/cards/DateCard.astro';
import Tags from '../../components/Tags.astro';
import './article-styles.css';

const { slug } = Astro.params;

if (!slug) {
  throw new Error('Missing slug');
}

const entry = await getEntry('blog', slug);
if (!entry) {
  return Astro.redirect('/404');
}

const { title, pubDate, author, authorImage, image, tags } = entry.data;

const { Content } = await entry.render();
---

<RootLayout pageTitle={title}>
  <div class="container mx-auto p-4">
    <div class="flex gap-24">
      <div>
        <div class="flex flex-col gap-2 sticky top-[200px] max-w-60">
          <ul class="flex flex-col gap-4 toc-list max-h-[50vh] overflow-y-auto"></ul>

          <hr
            class="my-8 h-0.5 border-t-0 bg-gradient-to-r from-primary to-transparent"
          />

          <AuthorCard author={author} authorImage={authorImage} />
          <DateCard date={pubDate} />
        </div>

        <div></div>
      </div>

      <section class="max-w-screen-lg pb-96">
        <h1 class="text-6xl mb-16 max-w-screen-lg mx-auto">
          {title}
        </h1>

        <hr
          class="my-8 h-0.5 border-t-0 bg-gradient-to-r from-primary to-transparent"
        />

        <Content />

        <hr
          class="my-8 h-0.5 border-t-0 bg-gradient-to-r from-primary to-transparent"
        />

        <Tags tags={tags} />
      </section>
    </div>
  </div>
</RootLayout>

<script src="./articleCopyCode.ts"></script>
<script src="./articleTableOfContents.ts"></script>
