---
import RootLayout from '../../layouts/RootLayout.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import ArticleCard from '../../components/cards/ArticleCard.astro';
import Filters from '../../components/Filters.tsx';
import ArticlesFilteredList from '../../components/ArticlesFilteredList.tsx';
import FiltersSkeleton from 'src/components/skeletons/FiltersSkeleton.astro';
import ArticlesFilteredListSkeleton from 'src/components/skeletons/ArticlesFilteredListSkeleton.astro';

const allBlogArticles: CollectionEntry<'blog'>[] = (await getCollection('blog'))
  .filter(entry => !entry.data.isDraft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const uniqueTags = [
  ...new Set<string>(allBlogArticles.flatMap(article => article.data.tags)),
];

const uniqueAuthors = [
  ...new Set<string>(allBlogArticles.map(article => article.data.author)),
];
---

<RootLayout pageTitle="Articles">
  <div class="container mx-auto flex max-md:flex-col gap-8 pt-20 p-4">
    <div>
      <div class="md:sticky md:top-[200px] md:w-[320px] max-w-full">
        <Filters
          client:only="react"
          tags={uniqueTags}
          authors={uniqueAuthors}
          allBlogArticles={allBlogArticles}
        >
          <FiltersSkeleton slot="fallback" />
        </Filters>

      </div>
      <div></div>
    </div>

    <ul class="flex gap-16 items-center flex-wrap">
      {[].map(article => <ArticleCard article={article} />)}
    </ul>

    <ArticlesFilteredList client:only="react" allBlogArticles={allBlogArticles}>
      <ArticlesFilteredListSkeleton slot="fallback" />
    </ArticlesFilteredList>

    {
      false && (
        <div class="text-center text-2xl text-accent">
          No articles found matching these filters
        </div>
      )
    }
  </div>
</RootLayout>
