---
import { Icon } from 'astro-icon/components';
import Divider from '../ui/Divider.astro';

type Props = {
  icon: string;
  title: string;
  tiltDirection?: 'left' | 'right';
  href: string;
};

const { icon, title, tiltDirection, href } = Astro.props;
const tiltClassLeft = tiltDirection === 'left' ? 'rotate-6' : '';
const tiltClassRight = tiltDirection === 'right' ? '-rotate-6' : '';
---

<a
  href={href}
  class={`flex flex-col min-h-60 justify-between p-8 items-center w-60 rounded-xl border-accent/50 border-solid ${tiltClassLeft} ${tiltClassRight} transition-transform hover:rotate-0 group`}
>
  <Icon name={icon} class="text-primary text-6xl group-hover:animate-pulse font-thin" />

  <Divider />

  <div class="text-2xl font-thin">{title}</div>
</a>
