---
import { Icon } from 'astro-icon/components';

type Props = {
  icon: string;
  title: string;
  tiltDirection?: 'left' | 'right';
  href: string;
};

const { icon, title, tiltDirection, href } = Astro.props;
const tiltClassLeft = tiltDirection === 'left' ? 'rotate-6' : '';
const tiltClassRight = tiltDirection === 'right' ? '-rotate-6' : '';
---

<a
  href={href}
  class={`flex flex-col min-h-60 justify-between p-8 items-center w-60 rounded-xl border-accent/50 border-solid ${tiltClassLeft} ${tiltClassRight} transition-transform hover:rotate-0 group`}
>
  <Icon
    name={icon}
    class="text-foreground drop-shadow-[0px_0px_8px_rgb(19,33,172)] text-6xl group-hover:animate-pulse"
    flood-color={20}
  />

  <hr
    class="my-8 h-0.5 border-t-0 bg-gradient-to-r from-accent to-transparent w-full"
  />

  <div class="text-2xl font-thin">{title}</div>
</a>
