---
import { Icon } from 'astro-icon/components';
import ClipboardCopy from '../ui/ClipboardCopy';

type Props = {
  icon: string;
  title: string;
  linkText: string;
  href: string;
  isExternalLink?: boolean;
  copyValue: string;
};

const { icon, linkText, href, isExternalLink, title, copyValue } = Astro.props;
---

<li class="flex flex-col gap-1 bg-glass p-4 rounded-2xl w-96 max-w-full">
  <div class="flex gap-2 items-center">
    <Icon name={icon} class="text-2xl" />
    {title}
  </div>
  <div class="flex gap-1 items-center">
    <a
      class="text-accent"
      href={href}
      target={isExternalLink ? '_blank' : '_self'}
      rel={isExternalLink ? 'noopener noreferrer' : ''}>{linkText}</a
    >
    <ClipboardCopy client:only text={copyValue} />
  </div>
</li>
